@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}
html,
body {
  height: inherit;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
hr {
  width: 100%;
  border-color: rgb(255, 255, 255);
  margin: 3vmax 0;
}
.main,
.ill {
  width: 100vw;
  padding: 8vmax 0;
  background-color: black;
}
nav {
  position: fixed;
  width: 100%;
  padding: 2vmax 3.5vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.344);
  backdrop-filter: blur(5px);
  z-index: 99;
}

/* ------------------------------------ MENU ---------------------------- */
#bulb {
  height: 50px;
  transform: rotate(180deg);
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* ------------------------------------ HOME ---------------------------- */

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -100%;
  animation: loading 1.5s ease-in-out;
}

@keyframes loading {
  0% {
    top: 0%;
  }
  50% {
    top: 0%;
  }
  100% {
    border-radius: 0px 0px 1000px 1000px;
    opacity: 0.7;
    top: -100%;
  }
}

.main .contents {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vmax;
}
.content span {
  margin-top: 1vmax;
  color: white;
  font-size: 2.5vmax;
  text-align: center;
}
.main .img-cnt {
  height: 34vmax;
  width: 11vmax;
  display: flex;
}
.main .img-cnt img {
  position: absolute;
  width: 11vmax;
  height: 40vmax;
  transition: ease-in-out 0.5s;
  border-radius: 15px;
  object-fit: contain;
}
.main .img-cnt img:nth-child(1) {
  z-index: 2;
}
.main .img-cnt img:nth-child(2),
.main .img-cnt img:nth-child(3) {
  opacity: 0;
}
.main .img-cnt:hover img:nth-child(2),
.main .img-cnt:hover img:nth-child(3) {
  opacity: 1;
}
.main .img-cnt:hover img:nth-child(2) {
  transform: rotate(-20deg);
  transform-origin: bottom left;
}
.main .img-cnt:hover img:nth-child(3) {
  transform: rotate(20deg);
  transform-origin: bottom right;
}

/* ------------------------------------ ILLUSTRATION ---------------------------- */

nav .img-cnt img {
  height: 40px;
}

.ill .head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ill .head .sub-head {
  font-size: 2vmax;
}
.ill span {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  font-size: 4vmax;
  /* font-size: 60px; */
  color: white;
}

.ill span .line {
  height: 2px;
  width: 0%;
  background-color: white;
  border-radius: 100px;
  transition: ease-in-out 0.5s;
}

.ill span:hover .line {
  width: 100%;
}

.ill .cnt {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 3vmax 0;
  gap: 4vmax;
}
.ill .box {
  height: 42vmax;
  /* border-radius: 15px; */
  overflow: hidden;
}
.ill .box img {
  cursor: pointer;
  height: 100%;
  transition: ease-in-out 0.5s;
}

.ill .box img:hover {
  transform: scale(1.1);
}
.ill .art-box {
  height: 26vmax;
}
.ill .fab-box,
.ill .print-box {
  height: 22vmax;
}

@media screen and (max-width: 720px) {
  .main .contents {
    gap: 1vmax;
    padding: 0 1vmax;
  }
  .ill .cnt {
    padding: 3vmax 2vmax;
    gap: 2vmax;
  }
  .ill .box {
    height: 18vmax;
  }
  .ill .art-box {
    height: 11vmax;
  }
  .ill .fab-box {
    height: 11vmax;
  }
}

/* ------------------------------------ FOOTER ---------------------------- */

footer {
  background-color: rgb(255, 255, 255);
  padding: 4vmax 14vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer a {
  color: black;
}
footer .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .bottom {
  text-align: center;
}
.btm-cnt .pw,
.btm-cnt .pm {
  display: none;
}
@media screen and (max-width: 720px) {
  footer {
    padding: 4vmax 2vmax;
  }
  footer .icon {
    flex-direction: column;
  }
  .top .w,
  .top .m {
    display: none;
  }
  footer .top {
    justify-content: center;
  }
  .btm-cnt .pw,
  .btm-cnt .pm {
    display: flex;
    flex-direction: row;
  }
  .btm-cnt {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .bottom {
    text-align: justify;
  }
}
